.bg-red {
    background-color: rebeccapurple;
}

.display-flex {
    display: flex;
}

.input-border {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
}

.text-white {
    color: white
}

.padding-05 {
    padding: 5px;
}

.display-column {
    flex-direction: column;
}
.display-row {
    flex-direction: row;
}

.input-border:focus {
    border: 1px solid rgb(184, 184, 184);
    background-color: transparent;
    resize: none;
    outline: none;
}

.button {
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.76);
}

.cursor-pointer {
    cursor: pointer;
}

.margin-bt {
    margin-bottom: 10px;
}

.align-items {
    align-items: center;
}